{% extends 'website/base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center my-5">Contact Us</h1>
    <div id="contact-container">
        <div class="mx-5 my-4">
          <p class="text-center contact-icon"><i class="fa-regular fa-envelope"></i></p>
          <p class="text-center small-text">For any queries or info:</p>
          <p class="text-center small-text"><strong>info@bushyparktennisclub.com</strong>
        </div>
        <div class="mx-5 my-4">
            <p class="text-center contact-icon"><i class="fa-solid fa-location-dot"></i></p>
            <p class="text-center small-text">Find us at:</p>
            <p class="text-center small-text"><strong>Bushy Park, Terenure, Dublin 6W</strong></p>
        </div>
    </div>

<div id="google-map-container">
    <iframe title="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1192.1405816825607!2d-6.2900138107225265!3d53.30241070667178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670b8d0f8a9e8d%3A0xaac69672aef4d5fc!2sBushy%20Park%20Tennis%20And%20Padel%20Club!5e0!3m2!1sen!2sie!4v1692884394292!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}