{% extends 'website/base.html' %}

{% block content %}
    <h1 class="text-center my-5">Latest News</h1>
    <!-- NEWS POST LIST -->
    <div id="article-container">
        {% for post in posts %}
            {% if "default" in post.image.url %}
                <!-- Inline styling used here to allow python logic to dictate what styling is used on this page -->
                <article class="media col-md-8 my-4 news-box" style="background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(
                    'https://res.cloudinary.com/lewismd/image/upload/v1693655086/blue-racquets_h2bs0l.webp');">
                    <div class="media-body">
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.subtitle }}</p>
                        <a class="btn green-button-small" href="{% url 'post-detail' post.id %}">Read More</a>
                    </div>
                </article>
            {% else %}
                <!-- Inline styling used here to allow python logic to dictate what styling is used on this page -->
                <article class="media col-md-8 my-4 news-box" style="background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('{{ post.image.url }}');">
                    <div class="media-body">
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.subtitle }}</p>
                        <a class="btn green-button-small" href="{% url 'post-detail' post.id %}">Read More</a>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>

    <!-- PAGINATION -->
    <div id="page-button-container">
        {% if is_paginated %}
        
            {% if page_obj.has_previous %}
                <a class="btn green-button mb-4" href="?page=1"><<</a>
                <a class="btn green-button mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn active-button mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn green-button mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn green-button mb-4" href="?page={{ page_obj.next_page_number }}">></a>
                <a class="btn green-button mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}