{% extends 'website/base.html' %}
{% block head %}
{% if "default" in post.image.url %}
    <style>
        #article-title-container {
            color: #fff;
            background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),
            url("https://res.cloudinary.com/lewismd/image/upload/v1693655561/static/img/blue-racquets.83ab0e88197a.webp");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }
    </style>
{% else %}
    <style>
        #article-title-container {
            color: #fff;
            background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),
            url("{{ object.image.url }}");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }
    </style>
{% endif %}
{% endblock %}

{% block content %}
    <article class="media content-section" id="post-detail-container-outer">
        <div class="media-body" id="post-detail-container">
            <div class="article-metadata">
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% elif user.is_staff %}:
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <div id="article-title-container">
                <div id="article-header-info">
                    <h1 class="article-title">{{ object.title }}</h1>
                    <small>Posted by: {{ object.author }} On {{ object.date_posted }}</small>
                </div>
            </div>
            <div id="post-content-container">
                <p class="article-content">{{ object.content }}</p>
            </div>
            <div class="custom-form-button-container">
                <a class="btn green-button" href="{% url 'website-news' %}">Back to News</a>
            </div>
        </div>
    </article>
{% endblock content %}