{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Booking Form</h1>
<form action="">
    <label for="date_chosen">Date:</label><br>
    <input type="date" id="date_chosen" name="date_chosen"><br>
    <input type="submit">
</form>


    <h1>Available Times</h1>
    {% for reservation in reservations %}
        {% if reservation.date|date:"M d, Y" == "Aug 09, 2023" %}
            <h2>{{ reservation.date }}</h2>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}