{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<hr>
<p id="form-url" hidden>{{ request.get_full_path }}</p>
<hr>
<h1 id="test">Regular Title</h1>
<div class="content-section col-md-6 mx-auto my-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Court Booking</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>

<div>
    {% for reservation in reservations %}
            <p class="reservation-dates" hidden>{{reservation.date|date:'Y-m-d'}}-{{ reservation.timeslot }}-{{ reservation.court_number }}</p>
    {% endfor %}
</div>
{% endblock content %}