{% extends 'website/base.html' %}
{% block content %}
    <div class="mx-5 mt-5" id="reservation-delete-confirm-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cancel Reservation</legend>
                <h2 class="my-3">Are you sure you want to cancel this reservation?</h2>
                <p><strong>Cancelling a reservation within 24hrs may incur a cancellation fee</strong></p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, cancel</button>
                <a class="btn btn-secondary" href="{% url 'reservation-detail' object.id %}">No, go back</a>
            </div>
        </form>
    </div>
{% endblock content %}