{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<hr>
<h2 id="form-url" hidden>{{ request.get_full_path }}</h2>
<hr>
    <div class="content-section col-md-6 mx-auto my-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Court Booking</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}