{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="m-4">Reservation List</h1>
    <a href="{% url 'reservation-date' %}">New Booking</a>

    <h4>Show all reservations on chosen date:</h4>
    <form method="GET">
        <input type="date" name="date-search" value="{{ date_search_input }}">
        <input type="submit" value="Date Search">
    </form>

    <!-- <form method="GET">
        <label for="timeslot-search">Choose a Timeslot:</label>
        <select id="timeslot-search" name="timeslot-search" value="{{ timeslot_search_input }}">
            <option value="0">9:00</option>
            <option value="1">10:00</option>
            <option value="2">11:00</option>
            <option value="3">12:00</option>
            <option value="4">13:00</option>
            <option value="5">14:00</option>
            <option value="6">15:00</option>
            <option value="7">16:00</option>
            <option value="8">17:00</option>
            <option value="9">18:00</option>
            <option value="10">19:00</option>
            <option value="11">20:00</option>
        </select>
        <input type="submit" value="Timeslot Search" id="timeslot-search-submit">
    </form> -->

    <h4>Show all reservations made by a user:</h4>
    <form method="GET">
        <input type="text" name="name-search" value="{{ name_search_input }}">
        <input type="submit" value="Name Search">
    </form>

    {% for reservation in reservations %} 
        {% if reservation.created_by.username != "Te" %}
            <div>
                <hr>
                <a class="mx-2" href="{% url 'reservation-detail' reservation.id %}">{{ reservation.title }}</a>
                <small class="text-muted"> -- {{ reservation.date }}</small>
                <small class="text-muted"> -- {{ reservation.get_timeslot_display }}</small>
                <small class="text-muted"> -- {{ reservation.get_court_number_display }}</small>
                <small class="text-muted"> -- {{ reservation.created_by.first_name }} {{ reservation.created_by.last_name }}</small>
            </div>
        {% endif %}
    {% endfor %}

    <div id="page-button-container">
        {% if is_paginated %}
        
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}