{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="m-4">Reservation List</h1>
    <a href="{% url 'reservation-date' %}">New Booking</a>
    {% for reservation in reservations %} 
        {% if reservation.created_by.username != "Te" %}
            <article class="media content-section col-md-8">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ reservation.title }}</a>
                        <small class="text-muted">{{ reservation.created_by }}</small>
                        <small class="text-muted">Court Number {{ reservation.get_court_number_display }}</small>
                        <small class="text-muted">On {{ reservation.date }}</small>
                        <small class="text-muted"> At {{ reservation.get_timeslot_display }}</small>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}