@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

@media (min-width: 768px) {
.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
    }
}


body {
    font-family: 'Raleway', sans-serif;
    background-color: #f1f5f7;
    margin-top: 61px;
}

ul {
  margin: 0;
}

#logo {
    color: #126b73;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.nav-link {
    color: #126b73;
    font-size: larger;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("/static/img/tennis-nets.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 0;
    background-color: #1ca9b5;
    border-color: #126b73;
}

#hero button:hover {
    background-color: #126b73;
}

#main-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

#sub-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 500;
}

/* NEWS ARTICLES */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

#page-button-container {
  display: flex;
  justify-content: center;
}

#page-button-container a {
  margin-right: 10px;
}

/* PROFILE PAGE */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.account-heading {
  font-size: 2.5rem;
}


/* CLUB FEATURES */
.feature-icon i {
    color: #126b73;
    font-size: 4rem;
    text-align: center;
}

/* NEWS JUMBOTRONS */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }

  /* #news-primary {
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("https://res.cloudinary.com/lewismd/image/upload/v1691411346/logo_ffxgvb.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  } */

  #news-primary button {
    color: #fff;
    background-color: #1ca9b5;
    border-color: #126b73;
  }

  /* #news-secondary-left {
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/img/ball-on-netpost.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  } */

  #news-secondary-left button {
    color: #fff;
    background-color: #126b73;
    border-color: #0e4f55;
  }

  /* #news-secondary-right {
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/img/tennis-player.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  } */

  #news-secondary-right button {
    color: #fff;
    background-color: #126b73;
    border-color: #0e4f55;
  }