@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

@media (min-width: 768px) {
.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
    }

  body {
    margin-top: 53px;
  }

  #about-us {
    font-size: 1.3rem;
  }

  #message-container {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #message-container {
    margin-top: 60px;
  }
}



html {
  scroll-behavior: smooth;
}

#navbar {
  background-color: #304f2a;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


body {
    font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
}

#logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.nav-link {
    color: #fff;
    font-size: larger;
}

.nav-link:hover {
  color: rgb(161, 161, 161)
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/img/tennis-nets-cropped.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 95vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 0;
    background-color: #304f2a;
    border-color: #fff;
}

.hero-button {
  background-color: #304f2a;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid #263e21;
  margin-top: 5rem;
  padding: 1rem 1.875rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-button:hover {
    background-color: #263e21;
    color: rgb(161, 161, 161)
}

#main-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

#sub-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 500;
}

/* NEWS ARTICLES */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

#page-button-container {
  display: flex;
  justify-content: center;
}

#page-button-container a {
  margin-right: 10px;
}

/* PROFILE PAGE */

#profile-container {
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.account-heading {
  font-size: 2.5rem;
}

#update-form {
  display: none;
  max-width: 360px;
}

/* ABOUT US */
#about-us {
  scroll-margin-top: 60px;
}

/* CLUB FEATURES */
.feature-icon i {
    color: #304f2a;
    font-size: 4rem;
    text-align: center;
}

.features-text {
  font-size: 1.2rem;
}

/* NEWS JUMBOTRONS */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }

  /* ---------- NEWS JUMBOTRONS --------------*/

  #news-primary button {
    color: #fff;
    background-color: #304f2a;
    border-color: #263e21;
  }


  #news-secondary-left button {
    color: #fff;
    background-color: #304f2a;
    border-color: #263e21;
  }


  #news-secondary-right button {
    color: #fff;
    background-color: #304f2a;
    border-color: #263e21;
  }


/* ----------- FEATURETTES --------------*/

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#feature-1 {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/static/img/sunrise-courts.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

/* -------------- FOOTER ----------------- */

#footer-container {
  background-color: #304f2a;
  color: #fff;
  max-width: 100%;
}

#footer-container-secondary {
  padding-bottom: 0!important;
  max-width: 75%;
}

#footer-container-last {
  align-items: center;
  margin-bottom: 0!important;
}

#social-icons li {
  font-size: 2rem;
}

/* -------------- MESSAGES ---------------*/



/* -------------- DATE FORM ---------------*/

#date-form-heading {
  margin-top: 100px;
}

#date-form-container {
  min-width: 300px;
}

#dateForm {
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 260px;
  align-content: center;
  align-items: center;
  border-radius: 20px;
  background: #f4f4f4
}

#date-field-container {
  display: flex;
  justify-content: center;
}

#date-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#date-button {
  color: white;
  border-color: #263e21;
  background-color: #304f2a;
  padding: 8px 32px;
}

#date-button:hover {
  background-color: #507948;
}

#date-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(111 111 111 / 50%)
}

/* input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
} */

input.picker[type="date"] {
  position: relative;
  padding: 10px;
  /* width: 100%; */
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

/* ---------- TIME FORM -------------*/

#time-form-heading {
  margin-top: 100px;
}

#time-form-container {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 260px;
  align-items: center;
  border-radius: 20px;
  background: #f4f4f4;
  justify-content: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#time-field-container {
  display: flex;
  justify-content: center;
}

#id_timeslot {
  padding: 10px;
  width: 156px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

#id_timeslot option {
}

.reservation-dates {
  color: transparent;
  font-size: 0em;
  margin: 0;
  display: none;
}

#book-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#book-button {
  color: white;
  border-color: #263e21;
  background-color: #304f2a;
  padding: 8px 32px;
}

#book-button:hover {
  background-color: #507948;
}

#book-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(111 111 111 / 50%)
}

#div_id_timeslot label {
  display: none;
}