/* MEDIA QUERIES */

@media (min-width: 992px) {
    .rounded-lg-3 { 
      border-radius: .3rem; 
    }
  }

@media (min-width: 768px) {
.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
    }

  body {
    margin-top: 53px;
  }

  #about-us {
    font-size: 1.3rem;
  }

  #message-container {
    margin-top: 20px;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  #message-container {
    margin-top: 60px;
  }
  body {
    margin-top: 53px;
  }
  .news-box {
    max-width: 300px;
  }
  #contact-container {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  #nav-link-container {
    font-size: 0.75rem;
  }
  body {
    margin-top: 46px;
  }
}


@media (max-width: 584px) {
  #reservation-search-container-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #reservation-search-container-date {
    margin-bottom: 30px;
  }
}

/* -------- GENERAL STYLING -------- */

body {
  font-family: 'Raleway', sans-serif;
}

ul {
margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* -------- NAVBAR -------- */

#navbar {
  background-color: #304f2a;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-link {
  color: #fff;
  font-size: larger;
}

.nav-link-footer {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.nav-link-footer:hover {
  color: #aaaaaa;
}

.nav-link-small {
  font-size: 0.8rem;
}

.nav-link:hover {
  color: rgb(161, 161, 161)
}

.nav-link:focus {
  color: rgb(161, 161, 161)
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #304f2a;
}

/* -------- HERO SECTION -------- */

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('https://res.cloudinary.com/lewismd/image/upload/v1693655068/tennis-nets-cropped_xafhgv.webp');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 95vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 0;
    background-color: #304f2a;
    border-color: #fff;
}

.hero-button {
  background-color: #304f2a;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid #263e21;
  margin-top: 5rem;
  padding: 1rem 1.875rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-button:hover {
    background-color: #263e21;
    color: rgb(161, 161, 161)
}

#main-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

#sub-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 500;
}

/* -------- CUSTOM BUTTONS -------- */

.green-button, .green-button-small {
  color: #fff;
  background-color:#304f2a
}

.green-button:hover, .green-button-small:hover {
  color: #aaaaaa;
}

.green-button:focus, .green-button-small:focus, .green-button-outline-small:focus {
  box-shadow: 0 0 0 0.25rem rgba(167, 167, 167, 0.25);
}

.green-button-small, .green-button-outline-small {
  font-size: 0.8rem;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.green-button-outline-small {
  color: #304f2a;
  background-color: #ffffff;
  border-color: #304f2a;
  margin-left: 10px;
}

.green-button-outline-small:hover {
  background-color: #304f2a;
  color: #fff;
}

.active-button {
  background-color: #ffffff;
  border-color: #304f2a;
}

.active-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(167, 167, 167, 0.25);
}


/* -------- NEWS ARTICLES -------- */

.news-box {
  padding: 15px;
  border-radius: 10px;
  border-color: rgba(48,79,42, 0.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("https://res.cloudinary.com/lewismd/image/upload/v1691414484/article-image-2_qo9b5o.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: #fff;
  width: 720px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#article-title-container {
  border-radius: 10px;
}

.article-title {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a.article-title:hover {
  color: #507e50;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  margin-top: 20px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

#article-header-info {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

#page-button-container {
  display: flex;
  justify-content: center;
}

#page-button-container a {
  margin-right: 2px;
  margin-left: 2px;
  font-size: 0.8rem;
  padding: 11px;
}

#post-detail-container {
  max-width: 600px;
}

@media (min-width: 768px) {
  #post-detail-container {
    width: 600px;
  }
}

#post-content-container {
  display: flex;
  flex-direction: column;
}

.post-image {
  max-width: 600px;
  max-height: 600px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* -------- PROFILE PAGE -------- */

#profile-container {
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.account-heading {
  font-size: 2.5rem;
}

#update-form {
  display: none;
  max-width: 360px;
}

/* -------- CONTACT PAGE -------- */

#google-map-container {
  display: flex;
  margin-top: 10px;
}

#google-map-container iframe {
    width: 100%;
}

#contact-container {
  display: flex;
  justify-content: center;
}

.small-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.contact-icon {
  font-size: 2rem;
  margin-bottom: 2px;
  color: #304f2a;
}

/* -------- CLUB FEATURES -------- */

.feature-icon i {
    color: #304f2a;
    font-size: 4rem;
    text-align: center;
}

.features-text {
  font-size: 1.2rem;
}

/* -------- NEWS JUMBOTRONS -------- */

  #news-primary button {
    color: #fff;
    background-color: #304f2a;
    border-color: #263e21;
  }

  @media (min-width: 768px) {
    .jumbotron-container-secondary-left {
      padding-right: calc(var(--bs-gutter-x) * .2);
    }
  
    .jumbotron-container-secondary-right {
      padding-left: calc(var(--bs-gutter-x) * .2);
    }
  }


  #news-secondary-left button {
    color: #fff;
    background-color: #304f2a;
    border-color: #263e21;
  }


  #news-secondary-right button {
    color: #fff;
    background-color: #304f2a;
    border-color: #263e21;
  }


/* -------- ABOUT US PAGE -------- */

#about-us {
  scroll-margin-top: 60px;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#feature-1 {
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.featurette-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px
}

/* -------- FOOTER -------- */

#footer-container {
  background-color: #304f2a;
  color: #fff;
  max-width: 100%;
  margin-top: 20px;
}

#footer-container-secondary {
  padding-bottom: 0!important;
  max-width: 75%;
}

#footer-container-last {
  align-items: center;
  margin-bottom: 0!important;
}

.footer-link-heading {
  font-size: 1.5rem;
}

#social-icons li {
  font-size: 2rem;
}

#social-icons li a {
  color: white;
}

#social-icons li a:hover {
  color: #aaaaaa;
}

/* -------- MESSAGES -------- */

#message-container-outer {
  display: flex;
  justify-content: center;
}

/* -------- RESERVATION-DATE FORM -------- */

#date-form-heading {
  margin-top: 100px;
}

#date-form-container {
  min-width: 300px;
}

#dateForm {
  margin-bottom: 220px;
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 260px;
  align-content: center;
  align-items: center;
  border-radius: 20px;
  background: #f4f4f4
}

#date-field-container {
  display: flex;
  justify-content: center;
}

#date-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#date-button {
  color: white;
  border-color: #263e21;
  background-color: #304f2a;
  padding: 8px 32px;
}

#date-button:hover {
  background-color: #507948;
}

#date-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(111 111 111 / 50%)
}

input.picker[type="date"] {
  position: relative;
  padding: 10px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

/* -------- RESERVATION-TIME FORM -------- */

#time-form-heading {
  margin-top: 100px;
}

#time-form-container {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 260px;
  align-items: center;
  border-radius: 20px;
  background: #f4f4f4;
  justify-content: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#time-field-container {
  display: flex;
  justify-content: center;
}

#id_timeslot {
  padding: 10px;
  width: 156px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.reservation-dates {
  color: transparent;
  font-size: 0em;
  margin: 0;
  display: none;
}

#book-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#book-button {
  color: white;
  border-color: #263e21;
  background-color: #304f2a;
  padding: 8px 32px;
}

#book-button:hover {
  background-color: #507948;
}

#book-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(111 111 111 / 50%)
}

#div_id_timeslot label {
  display: none;
}

/* -------- MASTER RESERVATION LIST -------- */

#reservation-search-container-outer {
  display: flex;
  justify-content: center;
}

#reservation-search-container-date {
  max-width: 305px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(48,79,42, 0.2);
  background: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

#reservation-search-container-name {
  max-width: 305px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(48,79,42, 0.2);
  background: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

#reservation-name-search {
  width: 150px;
}

#reservation-date-search {
  width: 150px;
}

#reservation-table-container {
  display: flex;
  justify-content: center;
}

#reservation-table {
 max-width: 1200px;
}

/* -------- RESERVATION DETAILS -------- */

#reservation-detail-container {
  margin-bottom: 120px;
}

#reservation-detail-table {
  max-width: 320px;
  margin-bottom: 24px;
}

#reservation-delete-confirm-container {
  max-width: 320px;
  margin-bottom: 125px;
}

/* -------- DEFAULT FORM HINTS -------- */

#hint_id_username, #hint_id_password1, #hint_id_password2, #hint_id_new_password1{
  display: none;
}

/* -------- LOGOUT PAGE -------- */

#relog-button {
  margin-bottom: 350px;
  margin-top: 20px
}

/* -------- CUSTOM FORM CLASSES -------- */

.custom-form-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin-bottom: 100px;
}

.custom-form-inner-container {
  max-width: 500px;
}

.custom-form-inner-container input {
  width: 300px;
  margin-bottom: 10px;
}

.custom-form-button-container {
  display: flex;
  justify-content: center;
}

/* -------- CUSTOM ERROR PAGES -------- */

.wrap-error {
  height: 100vh
}
.wrap-error h1 {
  font-size: 6.875rem;
  letter-spacing: -10px;
  line-height: 1;
  font-family: montserrat, sans-serif;
}
.error-number span {
  color: #304f2a;
  text-shadow: -8px 0 0 rgb(198 217 190);
}
