{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- PASSWORD RESET FORM -->
<!-- displays after a user clicks forgot password link -->
    <div class="content-section custom-form-outer-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group custom-form-inner-container">
                <h1 class="my-5 text-center">Reset Password</h1>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group my-3 custom-form-button-container">
                <button class="btn green-button" type="submit">Get Password Reset Email</button>
            </div>
        </form>
    </div>
{% endblock content %}