{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section custom-form-outer-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group custom-form-inner-container">
                <h1 class="my-5 text-center">Sign Up</h1>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group my-2 custom-form-button-container">
                <button class="btn green-button my-2 text-center" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?<a class="btn green-button-outline-small ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}